body {
  font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace;
  
}

#test{
  
}
.navbar {
  background-color: #353436 !important;
  border-bottom:1px solid #8ED6FB !important;
}

.navbar a {
  color: white !important;
}

.navbar a:hover {
  color: #78AF9F !important;
}

.navbar-brand a{
  font-size:15 !important;
}

.navbar li.active a{
  background-color: #353436 !important;
  color: #78AF9F !important;
}

.navbar li.active a:hover{
  color: white !important;
}

.navbar .navbar-right a{
  background-color:#8ED6FB !important;
  color:#353436 !important;
  font-size:15 !important;
}

.navbar .navbar-right li.active a{
  background-color:#8ED6FB !important;
  color:#353436 !important;
  font-size:15 !important;
}

.clinks{color:#78AF9F;}
.clinks:hover{color:white;}

.special_box{display:inline-flex;
margin:2em 0 0 0;
border-radius:10px;
border:1px solid #8ED6FB;list-style:none;padding:0}
.special_box li{padding:20px 60px 20px 60px;display:flex;flex-direction:column;justify-content:center}
.special_box li:last-child{padding:20px 80px 20px 80px}.special_box li+li{border-left:1px solid #8ED6FB}